doctype html
head
    link(rel='shortcut icon' type='image/png' href='../img/jsicon.png')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='\
  Szkolenia z JavaScript, Angular, Reactjs, graphQl, rxjs\
  ')
    meta(name='author' content='')
    meta(name='author' content='jstrainings')
    meta(name='keywords' content='javascript java szkolenia trening szkolenie treningi trainings jstrainings script rxjs angular angularjs react reactjs angular2 graphql')
    title Szkolenia
    // Bootstrap Core CSS
    link(href='../vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // Custom Fonts
    link(href='../vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
    //
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,400,500,800,900' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet')
    // Plugin CSS
    link(href='../vendor/magnific-popup/magnific-popup.css' rel='stylesheet')
    // Theme CSS
    link(href='../css/creative.css' rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

.container
    div
        h3 Lista szkoleń:
    .container.margin-bottom
        each trenType in Object.values(detailed)
            h4 #{trenType.description}:
            .container
                each training, index in trenType.trainings
                    div
                        h5
                            a(href=`#${training.name.split(' ').join('')}`
                                style={'color':'black'}) #{training.name}
        a.no-padding.btn.btn-secondary.btn-xl.page-scroll(href='./trainings.pdf') Wersja pdf

#trainings.container.width-full.no-padding-mobile
    each training, index in trainings
        - const [flex, imgContainerClass = ''] = ['display-flex']
        .double-line.col-lg-12(id=training.name.split(' ').join(''))

        .col-lg-12.align-center.sr-icons-1.relative(class=flex + ` sr-icons-${training.index}`)
            .container.no-padding-mobile
                .flex-1(class=imgContainerClass).no-padding-mobile
                    .margin-auto
                        .col-lg-12.display-flex.relative.no-padding-mobile
                            .flex-1
                                .col-lg-12.text-center
                                    h1.section-heading #{training.name}
                                    hr.primary
                                p.text-muted(style={'text-align':'justify'}) #{training.description}



                                p.text-muted(style={'text-align':'justify'})
                                    span.bold Proponowana długość szkolenia:
                                    span &nbsp;#{training.duration} #{training.duration > 1 ? 'dni' : 'dzień'}

                                // Button trigger modal
                            if training.lists
                                .flex-1(style={'align-items': 'center'})
                                    .general #{general.topics2}:
                                    .panel-group.accordion#accordion(role="tablist" aria-multiselectable="true")
                                        each trainingObj, index in training.lists
                                            .panel.panel-default
                                                .panel-heading(role="tab" id="heading" + index)
                                                    h4.panel-title
                                                        a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' data-target="#collapse" + index  href="#collapse" + index aria-expanded=!index aria-controls="collapseOne" + index)
                                                            | #{trainingObj.name}
                                                .panel-collapse.collapse(id='collapse' + index role="tabpanel" aria-labelledby="heading" + index)
                                                    .panel-body.no-padding-mobile
                                                        ul
                                                            each topic in trainingObj.list
                                                                li #{topic}
                            if training.list
                                .flex-1
                                    .panel.panel-default
                                        .panel-heading #{general.topics}
                                        .panel-body.no-padding-mobile
                                            ul
                                                each topic in training.list
                                                    li #{topic}

